@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --heading-font: "Raleway", sans-serif;
  --primary-font: "Open Sans", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 840px) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 440px) {
    html {
      font-size: 37.5%; } }

body {
  font-size: 1.8rem;
  font-family: var(--primary-font);
  line-height: 1.6;
  color: var(--dark-blue); }

a {
  text-decoration: none; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.btn {
  cursor: pointer;
  padding: 1.5rem 5rem;
  border: 0;
  border-radius: 3px;
  outline: none;
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  font-size: 1.6rem;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px rgba(51, 51, 51, 0.2); }

.btn-light {
  padding: 1.5rem 3rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  padding: 5rem;
  padding-bottom: 0; }
  .navbar__logo img {
    width: 15rem; }
  .navbar__items .item {
    color: var(--desaturated-blue);
    letter-spacing: 1px; }
    .navbar__items .item:hover {
      border-bottom: 1px solid var(--desaturated-blue); }
  .navbar__items--item1, .navbar__items--item2 {
    margin-right: 5rem; }
    @media screen and (max-width: 840px) {
      .navbar__items--item1, .navbar__items--item2 {
        margin-right: 2.5rem; } }

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-bottom: 20rem;
  padding: 0 5rem; }
  @media screen and (max-width: 840px) {
    .hero {
      grid-template-columns: 1fr;
      margin-bottom: 15rem; } }
  .hero__image img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 840px) {
    .hero__image {
      grid-row: 1/2; } }
  .hero__details {
    align-self: center; }
    .hero__details--h1 {
      font-size: 4.2rem;
      font-weight: 700;
      color: var(--dark-blue);
      line-height: 1.3;
      margin-bottom: 2.5rem;
      font-family: var(--heading-font); }
    .hero__details--para {
      font-size: 2rem;
      margin-bottom: 1.5rem; }
    .hero__details--signin {
      width: 100%; }
      .hero__details--signin form {
        display: flex;
        align-items: center; }
        @media screen and (max-width: 440px) {
          .hero__details--signin form {
            flex-direction: column; } }
        .hero__details--signin form input {
          width: 55%;
          padding: 1.5rem 1.5rem;
          font-size: 1.4rem;
          border: 1px solid var(--desaturated-blue);
          border-radius: 3px;
          margin-right: 2rem;
          color: var(--desaturated-blue); }
          @media screen and (max-width: 440px) {
            .hero__details--signin form input {
              width: 80%;
              margin: 0 auto; } }
          .hero__details--signin form input::placeholder {
            color: var(--desaturated-blue); }
      @media screen and (max-width: 440px) {
        .hero__details--signin button {
          width: 80%;
          margin: 0 auto;
          margin-top: 1.5rem; } }

.curve {
  width: 100%;
  display: block; }

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  background-color: #f8f8fe;
  padding: 6rem 5rem 10rem 5rem; }
  @media screen and (max-width: 840px) {
    .testimonial {
      grid-template-columns: 1fr; } }
  .testimonial__image img {
    width: 100%;
    height: 100%;
    display: block; }
  @media screen and (max-width: 840px) {
    .testimonial__image {
      grid-row: 1/2; } }
  @media screen and (max-width: 840px) {
    .testimonial__details {
      text-align: center; } }
  .testimonial__details--h2 {
    font-weight: 700;
    font-family: var(--heading-font);
    font-size: 3.8rem;
    margin-bottom: 2.5rem;
    color: var(--dark-blue); }
  .testimonial__details .para-1 {
    margin-bottom: 0.8rem; }
  .testimonial__details .para-2 {
    margin-bottom: 1.5rem; }
  .testimonial__details--para {
    font-size: 1.6rem;
    color: var(--dark-blue);
    width: 80%; }
    @media screen and (max-width: 440px) {
      .testimonial__details--para {
        width: 90%;
        margin: 0 auto; } }
    @media screen and (max-width: 840px) {
      .testimonial__details--para {
        width: 80%;
        margin: auto; } }
  .testimonial__details a {
    color: var(--moderate-cyan);
    border-bottom: 2px solid var(--moderate-cyan);
    font-style: 1.6rem;
    display: inline-block;
    margin-bottom: 2.5rem; }
  .testimonial__details--review {
    width: 65%;
    background-color: #fff;
    padding: 3.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(51, 51, 51, 0.2); }
    @media screen and (max-width: 440px) {
      .testimonial__details--review {
        width: 80%;
        margin: auto; } }
    @media screen and (max-width: 840px) {
      .testimonial__details--review {
        margin: auto; } }
    .testimonial__details--review .para {
      font-size: 1.6rem;
      color: var(--dark-blue);
      margin-bottom: 3rem; }
    .testimonial__details--review .user {
      display: flex;
      align-items: center; }
      .testimonial__details--review .user img {
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        margin-right: 2rem; }
      .testimonial__details--review .user p {
        font-size: 1.4rem;
        color: var(--dark-blue); }

.subscribe {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20rem;
  padding: 12.5rem 5rem;
  background-color: var(--desaturated-blue);
  color: var(--light-grayish-blue); }
  @media screen and (max-width: 840px) {
    .subscribe {
      grid-template-columns: 1fr;
      gap: 5rem; } }
  @media screen and (max-width: 440px) {
    .subscribe__details {
      text-align: center;
      width: 90%;
      margin: 0 auto; } }
  @media screen and (max-width: 840px) {
    .subscribe__details {
      text-align: center;
      width: 80%;
      margin: 0 auto; } }
  .subscribe__details--h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 3.2rem;
    letter-spacing: 1px;
    font-family: var(--heading-font); }
  .subscribe__signin form {
    display: block; }
    @media screen and (max-width: 840px) {
      .subscribe__signin form {
        display: flex;
        flex-direction: column; } }
    .subscribe__signin form input {
      width: 85%;
      padding: 1.5rem 1.5rem;
      font-size: 1.4rem;
      border: 1px solid var(--desaturated-blue);
      border-radius: 3px;
      margin-right: 2rem;
      color: var(--desaturated-blue);
      margin-bottom: 1.5rem; }
      @media screen and (max-width: 440px) {
        .subscribe__signin form input {
          width: 80%;
          margin: 0 auto; } }
      @media screen and (max-width: 840px) {
        .subscribe__signin form input {
          width: 60%;
          margin: 0 auto; } }
      .subscribe__signin form input::placeholder {
        color: var(--desaturated-blue); }
    @media screen and (max-width: 440px) {
      .subscribe__signin form button {
        width: 80%;
        margin: 0 auto;
        margin-top: 2.5rem; } }
    @media screen and (max-width: 840px) {
      .subscribe__signin form button {
        width: 60%;
        margin: 0 auto;
        margin-top: 2.5rem; } }

.footermain {
  padding: 10rem 5rem 5rem 5rem;
  background-color: var(--dark-blue);
  color: var(--light-grayish-blue); }
  .footermain .logo {
    margin-bottom: 2rem; }
  .footermain__details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    letter-spacing: 1px; }
    @media screen and (max-width: 840px) {
      .footermain__details {
        grid-template-columns: 1fr; } }
    @media screen and (max-width: 840px) {
      .footermain__details .contact {
        margin-bottom: 3rem; } }
    .footermain__details .contact p {
      margin: 1rem 0;
      cursor: pointer; }
      .footermain__details .contact p:hover {
        opacity: 0.8; }
    @media screen and (max-width: 840px) {
      .footermain__details .about {
        margin-bottom: 3rem; } }
    .footermain__details .about p {
      margin: 1rem 0;
      cursor: pointer; }
      .footermain__details .about p:hover {
        opacity: 0.8; }
    @media screen and (max-width: 840px) {
      .footermain__details .terms {
        margin-bottom: 3rem; } }
    .footermain__details .terms p {
      margin: 1rem 0;
      cursor: pointer; }
      .footermain__details .terms p:hover {
        opacity: 0.8; }
    @media screen and (max-width: 840px) {
      .footermain__details .social {
        text-align: center; } }
    .footermain__details .social .fab {
      margin: 1rem 1.5rem;
      cursor: pointer; }
      .footermain__details .social .fab:hover {
        opacity: 0.8; }

.attribution {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 5rem; }

.attribution a {
  color: #3e52a3;
  border-bottom: 1px dotted #3e52a3; }
